<p id="notice"><%= notice %></p>

<h1>My Foos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_foos.each do |my_foo| %>
      <tr>
        <td><%= link_to 'Show', my_foo %></td>
        <td><%= link_to 'Edit', edit_my_foo_path(my_foo) %></td>
        <td><%= link_to 'Destroy', my_foo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Foo', new_my_foo_path %>
